.footer {
  display: grid;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  text-align: center;
  justify-items: center;
  align-items: center;
  background: var(--footer_back);
  color: var(--footer_color);
  font-size: 0.8rem;
  padding: auto;
  transition: all linear 0.25s;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
}
